/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datepicker
*/

@import "bootstrap";

body {
  padding-top: 60px;
}

#time-entry-form {
  display: none;
}

.total-posted-time {
  margin: 9px;

  a {
    padding: 0px !important;
    color: #fff !important;
  }
}

.hidden {
  display: none;
}

.todos {
  list-style: none;
  margin-left: 0;
}

.todo {
  margin: 4px 0;
  font-size: 14px;

  a {
    color: #333;
  }
}

ul.current-time-entries {
  list-style: none;
  margin-left: 0;
}
